
.add__btn {
    margin-top: 16px;
}

.form__submit {
    margin-top: 32px;
}

.form__input {
    margin-top: 8px;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 200px;
}


h1 {
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
}


.catalogy-movie {
    background-color: #ececec;
    width: 400px;
    height: 300px;
}


.text {
    size: 17px;
}